/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
 padding: 80px;
}

.content-mid-header {
  background: #444;
  height: 80px;
  width: 200px;
}

.content-container {
  height: 180px;
  width: 180px;
}

.content {
  background: #D8D8D8;
  padding: 20px;
  height: 200px;
  width: 200px;
}
